.Home-container {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.boton-sumar {
    background-color: steelblue;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: bold;
}

.boton-sumar:hover {
    cursor: pointer;
    background-color: hsl(212, 64%, 44%);
}